In [2]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\kaush\appdata\local\programs\python\python312\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\kaush\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.4.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kaush\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\kaush\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\kaush\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\kaush\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.3 -> 26.0
[notice] To update, run: python.exe -m pip install --upgrade pip

## CSV file

In [35]:
# Import the pandas library
import pandas as pd

# Define the path of the CSV file
# Use a raw string (r"") to avoid issues with backslashes in Windows paths
file_path = r"D:\CODING\data mining\lab 2\dataset\addresses.csv"

# Read the CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)

# Display the DataFrame
print(df)

                    John       Doe                 120 jefferson st.  \
0                   Jack  McGinnis                      220 hobo Av.
1          John "Da Man"    Repici                 120 Jefferson St.
2                Stephen     Tyler  7452 Terrace "At the Plaza" road
3                    NaN  Blankman                               NaN
4  Joan "the bone", Anne       Jet               9th, at Terrace plc

     Riverside   NJ   08075
0        Phila   PA    9119
1    Riverside   NJ    8075
2     SomeTown   SD   91234
3     SomeTown   SD     298
4  Desert City   CO     123

In [5]:
print(df.head())

                    John       Doe                 120 jefferson st.  \
0                   Jack  McGinnis                      220 hobo Av.
1          John "Da Man"    Repici                 120 Jefferson St.
2                Stephen     Tyler  7452 Terrace "At the Plaza" road
3                    NaN  Blankman                               NaN
4  Joan "the bone", Anne       Jet               9th, at Terrace plc

     Riverside   NJ   08075
0        Phila   PA    9119
1    Riverside   NJ    8075
2     SomeTown   SD   91234
3     SomeTown   SD     298
4  Desert City   CO     123

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   John               4 non-null      object
 1   Doe                5 non-null      object
 2   120 jefferson st.  4 non-null      object
 3   Riverside          5 non-null      object
 4    NJ                5 non-null      object
 5    08075             5 non-null      int64
dtypes: int64(1), object(5)
memory usage: 372.0+ bytes
None

In [7]:
print(df.describe())

              08075
count      5.000000
mean   21769.800000
std    39059.209909
min      123.000000
25%      298.000000
50%     8075.000000
75%     9119.000000
max    91234.000000

## EXCEL file

In [8]:
# Import the pandas library
import pandas as pd

# Define the path of the Excel file
# Raw string is used to correctly handle Windows file paths
file_path = r"D:\CODING\data mining\lab 2\dataset\file_example_XLSX_1000.xlsx"

# Read the Excel file into a Pandas DataFrame
# By default, the first sheet is read
df_excel = pd.read_excel(file_path)

# Display the DataFrame
print(df_excel)

     Unnamed: 0 First Name   Last Name  Gender        Country  Age  \
0             1      Dulce       Abril  Female  United States   32
1             2       Mara   Hashimoto  Female  Great Britain   25
2             3     Philip        Gent    Male         France   36
3             4   Kathleen      Hanner  Female  United States   25
4             5    Nereida     Magwood  Female  United States   58
..          ...        ...         ...     ...            ...  ...
995         996       Roma  Lafollette  Female  United States   34
996         997     Felisa        Cail  Female  United States   28
997         998   Demetria       Abbey  Female  United States   32
998         999     Jeromy        Danz    Male  United States   39
999        1000   Rasheeda      Alkire  Female  United States   29

           Date    Id
0    15/10/2017  1562
1    16/08/2016  1582
2    21/05/2015  2587
3    15/10/2017  3549
4    16/08/2016  2468
..          ...   ...
995  15/10/2017  2654
996  16/08/2016  6525
997  21/05/2015  3265
998  15/10/2017  3265
999  16/08/2016  6125

[1000 rows x 8 columns]

In [10]:
print(df_excel.head())

   Unnamed: 0 First Name  Last Name  Gender        Country  Age        Date  \
0           1      Dulce      Abril  Female  United States   32  15/10/2017
1           2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016
2           3     Philip       Gent    Male         France   36  21/05/2015
3           4   Kathleen     Hanner  Female  United States   25  15/10/2017
4           5    Nereida    Magwood  Female  United States   58  16/08/2016

     Id
0  1562
1  1582
2  2587
3  3549
4  2468

In [11]:
print(df_excel.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   First Name  1000 non-null   object
 2   Last Name   1000 non-null   object
 3   Gender      1000 non-null   object
 4   Country     1000 non-null   object
 5   Age         1000 non-null   int64
 6   Date        1000 non-null   object
 7   Id          1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None

In [12]:
print(df_excel.describe())

        Unnamed: 0          Age           Id
count  1000.000000  1000.000000  1000.000000
mean    500.500000    33.260000  4717.720000
std     288.819436     8.353573  2368.340592
min       1.000000    21.000000  1258.000000
25%     250.750000    26.000000  2587.000000
50%     500.500000    32.000000  3574.000000
75%     750.250000    38.000000  6540.000000
max    1000.000000    58.000000  9654.000000

## TEXT file

In [14]:
# Import the pandas library
import pandas as pd

# Define the path of the text file
# Raw string is used to correctly handle Windows file paths
file_path = r"D:\CODING\data mining\lab 2\dataset\frankenstein.txt"

# Open the text file using Python's built-in file handling
with open(file_path, "r", encoding="utf-8") as file:
    # Read all lines from the text file
    lines = file.read().splitlines()

# Convert the text data into a Pandas DataFrame
# Each line of the text file becomes a separate row
df_txt = pd.DataFrame(lines, columns=["Text"])

# Display the DataFrame
print(df_txt)

                                                   Text
0     The Project Gutenberg eBook of Frankenstein; O...
1
2     This ebook is for the use of anyone anywhere i...
3     most other parts of the world at no cost and w...
4     whatsoever. You may copy it, give it away or r...
...                                                 ...
7731  This website includes information about Projec...
7732  including how to make donations to the Project...
7733  Archive Foundation, how to help produce our ne...
7734  subscribe to our email newsletter to hear abou...
7735

[7736 rows x 1 columns]

In [15]:
print(df_txt.head(10))

                                                Text
0  The Project Gutenberg eBook of Frankenstein; O...
1
2  This ebook is for the use of anyone anywhere i...
3  most other parts of the world at no cost and w...
4  whatsoever. You may copy it, give it away or r...
5  of the Project Gutenberg License included with...
6  at www.gutenberg.org. If you are not located i...
7  you will have to check the laws of the country...
8                           before using this eBook.
9

In [16]:
print("Total lines:", len(df_txt))

Total lines: 7736

## JSON file

In [24]:
# Import the pandas library
import pandas as pd

# Define the path of the JSON file
# Raw string is used to correctly handle Windows file paths
file_path = r"D:\CODING\data mining\lab 2\dataset\price.json"

# Read the JSON file into a Pandas DataFrame
# Works best when JSON is in list-of-records format
df_json = pd.read_json(file_path)

# Display the DataFrame
print(df_json)

        price  area  bedrooms  bathrooms  stories mainroad guestroom basement  \
0    13300000  7420         4          2        3      yes        no       no
1    12250000  8960         4          4        4      yes        no       no
2    12250000  9960         3          2        2      yes        no      yes
3    12215000  7500         4          2        2      yes        no      yes
4    11410000  7420         4          1        2      yes       yes      yes
..        ...   ...       ...        ...      ...      ...       ...      ...
540   1820000  3000         2          1        1      yes        no      yes
541   1767150  2400         3          1        1       no        no       no
542   1750000  3620         2          1        1      yes        no       no
543   1750000  2910         3          1        1       no        no       no
544   1750000  3850         3          1        2      yes        no       no

    hotwaterheating airconditioning  parking prefarea furnishingstatus
0                no             yes        2      yes        furnished
1                no             yes        3       no        furnished
2                no              no        2      yes   semi-furnished
3                no             yes        3      yes        furnished
4                no             yes        2       no        furnished
..              ...             ...      ...      ...              ...
540              no              no        2       no      unfurnished
541              no              no        0       no   semi-furnished
542              no              no        0       no      unfurnished
543              no              no        0       no        furnished
544              no              no        0       no      unfurnished

[545 rows x 13 columns]

In [26]:
print(df_json.head(10))

      price   area  bedrooms  bathrooms  stories mainroad guestroom basement  \
0  13300000   7420         4          2        3      yes        no       no
1  12250000   8960         4          4        4      yes        no       no
2  12250000   9960         3          2        2      yes        no      yes
3  12215000   7500         4          2        2      yes        no      yes
4  11410000   7420         4          1        2      yes       yes      yes
5  10850000   7500         3          3        1      yes        no      yes
6  10150000   8580         4          3        4      yes        no       no
7  10150000  16200         5          3        2      yes        no       no
8   9870000   8100         4          1        2      yes       yes      yes
9   9800000   5750         3          2        4      yes       yes       no

  hotwaterheating airconditioning  parking prefarea furnishingstatus
0              no             yes        2      yes        furnished
1              no             yes        3       no        furnished
2              no              no        2      yes   semi-furnished
3              no             yes        3      yes        furnished
4              no             yes        2       no        furnished
5              no             yes        2      yes   semi-furnished
6              no             yes        2      yes   semi-furnished
7              no              no        0       no      unfurnished
8              no             yes        2      yes        furnished
9              no             yes        1      yes      unfurnished

In [30]:

print(df_json.describe())

              price          area    bedrooms   bathrooms     stories  \
count  5.450000e+02    545.000000  545.000000  545.000000  545.000000
mean   4.766729e+06   5150.541284    2.965138    1.286239    1.805505
std    1.870440e+06   2170.141023    0.738064    0.502470    0.867492
min    1.750000e+06   1650.000000    1.000000    1.000000    1.000000
25%    3.430000e+06   3600.000000    2.000000    1.000000    1.000000
50%    4.340000e+06   4600.000000    3.000000    1.000000    2.000000
75%    5.740000e+06   6360.000000    3.000000    2.000000    2.000000
max    1.330000e+07  16200.000000    6.000000    4.000000    4.000000

          parking
count  545.000000
mean     0.693578
std      0.861586
min      0.000000
25%      0.000000
50%      0.000000
75%      1.000000
max      3.000000

In [33]:
 print(df_json.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB
None

## Opening data by url on python

In [39]:
! pip install lxml

Collecting lxml
  Downloading lxml-6.0.2-cp312-cp312-win_amd64.whl.metadata (3.7 kB)
Downloading lxml-6.0.2-cp312-cp312-win_amd64.whl (4.0 MB)
   ---------------------------------------- 0.0/4.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/4.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/4.0 MB ? eta -:--:--
   -- ------------------------------------- 0.3/4.0 MB ? eta -:--:--
   -- ------------------------------------- 0.3/4.0 MB ? eta -:--:--
   ----- ---------------------------------- 0.5/4.0 MB 479.2 kB/s eta 0:00:08
   ----- ---------------------------------- 0.5/4.0 MB 479.2 kB/s eta 0:00:08
   ----- ---------------------------------- 0.5/4.0 MB 479.2 kB/s eta 0:00:08
   ----- ---------------------------------- 0.5/4.0 MB 479.2 kB/s eta 0:00:08
   ----- ---------------------------------- 0.5/4.0 MB 479.2 kB/s eta 0:00:08
   ----- ---------------------------------- 0.5/4.0 MB 479.2 kB/s eta 0:00:08
   ----- ---------------------------------- 0.5/4.0 MB 479.2 kB/s eta 0:00:08
   ----- ---------------------------------- 0.5/4.0 MB 479.2 kB/s eta 0:00:08
   ----- ---------------------------------- 0.5/4.0 MB 479.2 kB/s eta 0:00:08
   ----- ---------------------------------- 0.5/4.0 MB 479.2 kB/s eta 0:00:08
   ----- ---------------------------------- 0.5/4.0 MB 479.2 kB/s eta 0:00:08
   ----- ---------------------------------- 0.5/4.0 MB 479.2 kB/s eta 0:00:08
   ------- -------------------------------- 0.8/4.0 MB 176.6 kB/s eta 0:00:19
   ------- -------------------------------- 0.8/4.0 MB 176.6 kB/s eta 0:00:19
   ------- -------------------------------- 0.8/4.0 MB 176.6 kB/s eta 0:00:19
   ------- -------------------------------- 0.8/4.0 MB 176.6 kB/s eta 0:00:19
   ------- -------------------------------- 0.8/4.0 MB 176.6 kB/s eta 0:00:19
   ------- -------------------------------- 0.8/4.0 MB 176.6 kB/s eta 0:00:19
   ------- -------------------------------- 0.8/4.0 MB 176.6 kB/s eta 0:00:19
   ------- -------------------------------- 0.8/4.0 MB 176.6 kB/s eta 0:00:19
   ------- -------------------------------- 0.8/4.0 MB 176.6 kB/s eta 0:00:19
   ------- -------------------------------- 0.8/4.0 MB 176.6 kB/s eta 0:00:19
   ---------- ----------------------------- 1.0/4.0 MB 155.8 kB/s eta 0:00:20
   ---------- ----------------------------- 1.0/4.0 MB 155.8 kB/s eta 0:00:20
   ---------- ----------------------------- 1.0/4.0 MB 155.8 kB/s eta 0:00:20
   ---------- ----------------------------- 1.0/4.0 MB 155.8 kB/s eta 0:00:20
   ---------- ----------------------------- 1.0/4.0 MB 155.8 kB/s eta 0:00:20
   ---------- ----------------------------- 1.0/4.0 MB 155.8 kB/s eta 0:00:20
   ---------- ----------------------------- 1.0/4.0 MB 155.8 kB/s eta 0:00:20
   ---------- ----------------------------- 1.0/4.0 MB 155.8 kB/s eta 0:00:20
   ---------- ----------------------------- 1.0/4.0 MB 155.8 kB/s eta 0:00:20
   ---------- ----------------------------- 1.0/4.0 MB 155.8 kB/s eta 0:00:20
   ------------- -------------------------- 1.3/4.0 MB 145.3 kB/s eta 0:00:19
   ------------- -------------------------- 1.3/4.0 MB 145.3 kB/s eta 0:00:19
   ------------- -------------------------- 1.3/4.0 MB 145.3 kB/s eta 0:00:19
   ------------- -------------------------- 1.3/4.0 MB 145.3 kB/s eta 0:00:19
   ------------- -------------------------- 1.3/4.0 MB 145.3 kB/s eta 0:00:19
   ------------- -------------------------- 1.3/4.0 MB 145.3 kB/s eta 0:00:19
   ------------- -------------------------- 1.3/4.0 MB 145.3 kB/s eta 0:00:19
   ------------- -------------------------- 1.3/4.0 MB 145.3 kB/s eta 0:00:19
   ------------- -------------------------- 1.3/4.0 MB 145.3 kB/s eta 0:00:19
   ------------- -------------------------- 1.3/4.0 MB 145.3 kB/s eta 0:00:19
   ------------- -------------------------- 1.3/4.0 MB 145.3 kB/s eta 0:00:19
   ------------- -------------------------- 1.3/4.0 MB 145.3 kB/s eta 0:00:19
   --------------- ------------------------ 1.6/4.0 MB 132.9 kB/s eta 0:00:19
   --------------- ------------------------ 1.6/4.0 MB 132.9 kB/s eta 0:00:19
   --------------- ------------------------ 1.6/4.0 MB 132.9 kB/s eta 0:00:19
   --------------- ------------------------ 1.6/4.0 MB 132.9 kB/s eta 0:00:19
   --------------- ------------------------ 1.6/4.0 MB 132.9 kB/s eta 0:00:19
   --------------- ------------------------ 1.6/4.0 MB 132.9 kB/s eta 0:00:19
   --------------- ------------------------ 1.6/4.0 MB 132.9 kB/s eta 0:00:19
   --------------- ------------------------ 1.6/4.0 MB 132.9 kB/s eta 0:00:19
   --------------- ------------------------ 1.6/4.0 MB 132.9 kB/s eta 0:00:19
   --------------- ------------------------ 1.6/4.0 MB 132.9 kB/s eta 0:00:19
   ------------------ --------------------- 1.8/4.0 MB 132.5 kB/s eta 0:00:17
   ------------------ --------------------- 1.8/4.0 MB 132.5 kB/s eta 0:00:17
   ------------------ --------------------- 1.8/4.0 MB 132.5 kB/s eta 0:00:17
   ------------------ --------------------- 1.8/4.0 MB 132.5 kB/s eta 0:00:17
   ------------------ --------------------- 1.8/4.0 MB 132.5 kB/s eta 0:00:17
   ------------------ --------------------- 1.8/4.0 MB 132.5 kB/s eta 0:00:17
   ------------------ --------------------- 1.8/4.0 MB 132.5 kB/s eta 0:00:17
   -------------------- ------------------- 2.1/4.0 MB 136.4 kB/s eta 0:00:15
   -------------------- ------------------- 2.1/4.0 MB 136.4 kB/s eta 0:00:15
   -------------------- ------------------- 2.1/4.0 MB 136.4 kB/s eta 0:00:15
   -------------------- ------------------- 2.1/4.0 MB 136.4 kB/s eta 0:00:15
   -------------------- ------------------- 2.1/4.0 MB 136.4 kB/s eta 0:00:15
   -------------------- ------------------- 2.1/4.0 MB 136.4 kB/s eta 0:00:15
   -------------------- ------------------- 2.1/4.0 MB 136.4 kB/s eta 0:00:15
   -------------------- ------------------- 2.1/4.0 MB 136.4 kB/s eta 0:00:15
   -------------------- ------------------- 2.1/4.0 MB 136.4 kB/s eta 0:00:15
   -------------------- ------------------- 2.1/4.0 MB 136.4 kB/s eta 0:00:15
   -------------------- ------------------- 2.1/4.0 MB 136.4 kB/s eta 0:00:15
   -------------------- ------------------- 2.1/4.0 MB 136.4 kB/s eta 0:00:15
   -------------------- ------------------- 2.1/4.0 MB 136.4 kB/s eta 0:00:15
   -------------------- ------------------- 2.1/4.0 MB 136.4 kB/s eta 0:00:15
   ----------------------- ---------------- 2.4/4.0 MB 128.8 kB/s eta 0:00:13
   ----------------------- ---------------- 2.4/4.0 MB 128.8 kB/s eta 0:00:13
   ----------------------- ---------------- 2.4/4.0 MB 128.8 kB/s eta 0:00:13
   ----------------------- ---------------- 2.4/4.0 MB 128.8 kB/s eta 0:00:13
   ----------------------- ---------------- 2.4/4.0 MB 128.8 kB/s eta 0:00:13
   ----------------------- ---------------- 2.4/4.0 MB 128.8 kB/s eta 0:00:13
   ----------------------- ---------------- 2.4/4.0 MB 128.8 kB/s eta 0:00:13
   ----------------------- ---------------- 2.4/4.0 MB 128.8 kB/s eta 0:00:13
   ----------------------- ---------------- 2.4/4.0 MB 128.8 kB/s eta 0:00:13
   -------------------------- ------------- 2.6/4.0 MB 129.2 kB/s eta 0:00:11
   -------------------------- ------------- 2.6/4.0 MB 129.2 kB/s eta 0:00:11
   -------------------------- ------------- 2.6/4.0 MB 129.2 kB/s eta 0:00:11
   -------------------------- ------------- 2.6/4.0 MB 129.2 kB/s eta 0:00:11
   -------------------------- ------------- 2.6/4.0 MB 129.2 kB/s eta 0:00:11
   -------------------------- ------------- 2.6/4.0 MB 129.2 kB/s eta 0:00:11
   -------------------------- ------------- 2.6/4.0 MB 129.2 kB/s eta 0:00:11
   -------------------------- ------------- 2.6/4.0 MB 129.2 kB/s eta 0:00:11
   -------------------------- ------------- 2.6/4.0 MB 129.2 kB/s eta 0:00:11
   ---------------------------- ----------- 2.9/4.0 MB 130.7 kB/s eta 0:00:09
   ---------------------------- ----------- 2.9/4.0 MB 130.7 kB/s eta 0:00:09
   ---------------------------- ----------- 2.9/4.0 MB 130.7 kB/s eta 0:00:09
   ---------------------------- ----------- 2.9/4.0 MB 130.7 kB/s eta 0:00:09
   ---------------------------- ----------- 2.9/4.0 MB 130.7 kB/s eta 0:00:09
   ---------------------------- ----------- 2.9/4.0 MB 130.7 kB/s eta 0:00:09
   ------------------------------- -------- 3.1/4.0 MB 134.1 kB/s eta 0:00:07
   ------------------------------- -------- 3.1/4.0 MB 134.1 kB/s eta 0:00:07
   ------------------------------- -------- 3.1/4.0 MB 134.1 kB/s eta 0:00:07
   ------------------------------- -------- 3.1/4.0 MB 134.1 kB/s eta 0:00:07
   ------------------------------- -------- 3.1/4.0 MB 134.1 kB/s eta 0:00:07
   ------------------------------- -------- 3.1/4.0 MB 134.1 kB/s eta 0:00:07
   --------------------------------- ------ 3.4/4.0 MB 138.4 kB/s eta 0:00:05
   --------------------------------- ------ 3.4/4.0 MB 138.4 kB/s eta 0:00:05
   --------------------------------- ------ 3.4/4.0 MB 138.4 kB/s eta 0:00:05
   --------------------------------- ------ 3.4/4.0 MB 138.4 kB/s eta 0:00:05
   --------------------------------- ------ 3.4/4.0 MB 138.4 kB/s eta 0:00:05
   --------------------------------- ------ 3.4/4.0 MB 138.4 kB/s eta 0:00:05
   ------------------------------------ --- 3.7/4.0 MB 142.7 kB/s eta 0:00:03
   ------------------------------------ --- 3.7/4.0 MB 142.7 kB/s eta 0:00:03
   ------------------------------------ --- 3.7/4.0 MB 142.7 kB/s eta 0:00:03
   ------------------------------------ --- 3.7/4.0 MB 142.7 kB/s eta 0:00:03
   ------------------------------------ --- 3.7/4.0 MB 142.7 kB/s eta 0:00:03
   ------------------------------------ --- 3.7/4.0 MB 142.7 kB/s eta 0:00:03
   ------------------------------------ --- 3.7/4.0 MB 142.7 kB/s eta 0:00:03
   ------------------------------------ --- 3.7/4.0 MB 142.7 kB/s eta 0:00:03
   ------------------------------------ --- 3.7/4.0 MB 142.7 kB/s eta 0:00:03
   ------------------------------------ --- 3.7/4.0 MB 142.7 kB/s eta 0:00:03
   ---------------------------------------  3.9/4.0 MB 141.1 kB/s eta 0:00:01
   ---------------------------------------- 4.0/4.0 MB 142.3 kB/s  0:00:26
Installing collected packages: lxml
Successfully installed lxml-6.0.2

[notice] A new release of pip is available: 25.3 -> 26.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
# Import required libraries
import pandas as pd
import requests

# Wikipedia URL
url = "https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population"

# Send request with browser-like User-Agent
response = requests.get(
    url,
    headers={"User-Agent": "Mozilla/5.0"}
)

# Read HTML tables from the page content
tables = pd.read_html(response.text)

# Select the first table
df_wiki = tables[0]

# Display data in tabular form
print(df_wiki)

## Read pdf files

In [51]:
!pip install pdfplumber

Requirement already satisfied: pdfplumber in c:\users\kaush\appdata\local\programs\python\python312\lib\site-packages (0.11.9)
Requirement already satisfied: pdfminer.six==20251230 in c:\users\kaush\appdata\local\programs\python\python312\lib\site-packages (from pdfplumber) (20251230)
Requirement already satisfied: Pillow>=9.1 in c:\users\kaush\appdata\local\programs\python\python312\lib\site-packages (from pdfplumber) (12.1.0)
Requirement already satisfied: pypdfium2>=4.18.0 in c:\users\kaush\appdata\local\programs\python\python312\lib\site-packages (from pdfplumber) (5.3.0)
Requirement already satisfied: charset-normalizer>=2.0.0 in c:\users\kaush\appdata\local\programs\python\python312\lib\site-packages (from pdfminer.six==20251230->pdfplumber) (3.4.4)
Requirement already satisfied: cryptography>=36.0.0 in c:\users\kaush\appdata\local\programs\python\python312\lib\site-packages (from pdfminer.six==20251230->pdfplumber) (46.0.4)
Requirement already satisfied: cffi>=2.0.0 in c:\users\kaush\appdata\local\programs\python\python312\lib\site-packages (from cryptography>=36.0.0->pdfminer.six==20251230->pdfplumber) (2.0.0)
Requirement already satisfied: pycparser in c:\users\kaush\appdata\local\programs\python\python312\lib\site-packages (from cffi>=2.0.0->cryptography>=36.0.0->pdfminer.six==20251230->pdfplumber) (2.23)

[notice] A new release of pip is available: 25.3 -> 26.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [52]:

import pdfplumber
import pandas as pd

# PDF file path (can be local or URL-downloaded)
file_path = "D:\STUDY\GATE\PYQS\CS\CS22025.pdf"

# List to store extracted text
data = []

# Open the PDF file
with pdfplumber.open(file_path) as pdf:
    for page in pdf.pages:
        text = page.extract_text()
        if text:
            for line in text.split("\n"):
                data.append([line])

# Convert extracted text into DataFrame
df_pdf = pd.DataFrame(data, columns=["PDF_Text"])

# Display PDF data as table
print(df_pdf)

<>:5: SyntaxWarning: invalid escape sequence '\S'
<>:5: SyntaxWarning: invalid escape sequence '\S'
C:\Users\kaush\AppData\Local\Temp\ipykernel_10972\3794167344.py:5: SyntaxWarning: invalid escape sequence '\S'
  file_path = "D:\STUDY\GATE\PYQS\CS\CS22025.pdf"

                                              PDF_Text
0    Computer Science and Information Technology (CS2)
1                                     General Aptitude
2                        Q.1 – Q.5 Carry ONE mark Each
3    Q.1 Despite his initial hesitation, Rehman’s _...
4                           the project never wavered.
..                                                 ...
743  Q.65 The unit interval (0,1) is divided at a p...
744               in ℝ into two disjoint subintervals.
745  The expected length of the subinterval that co...
746                         off to two decimal places)
747    Organising Institute: IIT Roorkee Page 48 of 48

[748 rows x 1 columns]

## Read PPTx

In [56]:
!pip install python-pptx

Requirement already satisfied: python-pptx in c:\users\kaush\appdata\local\programs\python\python312\lib\site-packages (1.0.2)
Requirement already satisfied: Pillow>=3.3.2 in c:\users\kaush\appdata\local\programs\python\python312\lib\site-packages (from python-pptx) (12.1.0)
Requirement already satisfied: XlsxWriter>=0.5.7 in c:\users\kaush\appdata\local\programs\python\python312\lib\site-packages (from python-pptx) (3.2.9)
Requirement already satisfied: lxml>=3.1.0 in c:\users\kaush\appdata\local\programs\python\python312\lib\site-packages (from python-pptx) (6.0.2)
Requirement already satisfied: typing-extensions>=4.9.0 in c:\users\kaush\appdata\local\programs\python\python312\lib\site-packages (from python-pptx) (4.15.0)

[notice] A new release of pip is available: 25.3 -> 26.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [60]:
from pptx import Presentation
import pandas as pd

# PPT file path
file_path = "D:\\CODING\\data mining\\lab 2\\dataset\\file_example_PPT_250kB.pptx"

# Load the PowerPoint file
presentation = Presentation(file_path)

# List to store slide text
data = []

# Extract text from each slide
for slide_number, slide in enumerate(presentation.slides, start=1):
    for shape in slide.shapes:
        if shape.has_text_frame:
            data.append([slide_number, shape.text])

# Convert extracted text into DataFrame
df_ppt = pd.DataFrame(data, columns=["Slide_Number", "Slide_Text"])

# Display PPT data as table
print(df_ppt)

   Slide_Number                                         Slide_Text
0             1                                        Lorem ipsum
1             1  Lorem ipsum dolor sit amet, consectetur adipis...
2             2                                              Chart
3             3                                              Table

## Opening text file without pyhton

In [66]:
with open(r"D:\CODING\data mining\lab 2\dataset\frankenstein.txt", 
          "r", encoding="utf-8") as file:
    content = file.read()

print(content[:500])

The Project Gutenberg eBook of Frankenstein; Or, The Modern Prometheus

This ebook is for the use of anyone anywhere in the United States and
most other parts of the world at no cost and with almost no restrictions
whatsoever. You may copy it, give it away or re-use it under the terms
of the Project Gutenberg License included with this ebook or online
at www.gutenberg.org. If you are not located in the United States,
you will have to check the laws of the country where you are located
before

## Opening Multimedia file such as image , video , audio

In [68]:
! pip install pillow

Requirement already satisfied: pillow in c:\users\kaush\appdata\local\programs\python\python312\lib\site-packages (12.1.0)

[notice] A new release of pip is available: 25.3 -> 26.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [70]:
from PIL import Image

# Use raw string to avoid path errors
file_path = r"D:\CODING\data mining\lab 2\dataset\Screenshot 2026-02-01 150322.png"

# Open the image
img = Image.open(file_path)

# Display the image
img.show()

In [ ]:
!pip install opencv-python

In [76]:
import cv2

# Correct image path
file_path = r"D:\CODING\data mining\lab 2\dataset\Screenshot 2026-02-01 150322.png"

# Read image
img = cv2.imread(file_path)

# Display image in a window
cv2.imshow("Image", img)
cv2.waitKey(0)
cv2.destroyAllWindows()

## Reading data from database

In [ ]:
pip install mysql-connector-python pandas sqlalchemy

In [12]:
import pandas as pd
from sqlalchemy import create_engine

# MySQL connection details (from MySQL Workbench)
username = "root"
password = "11122004@kK"
host = "127.0.0.1"
port = "3306"
database = "parks_and_recreation"

# Create MySQL connection engine
engine = create_engine(
    f"mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}"
)

# Example query (change table name if needed)
query = "SELECT * FROM employee_demographics"

# Read data from MySQL into DataFrame
df = pd.read_sql(query, engine)

# Display data in tabular form
print(df)

DatabaseError: (mysql.connector.errors.DatabaseError) 2005 (HY000): Unknown MySQL server host 'kK@127.0.0.1' (11003)
(Background on this error at: https://sqlalche.me/e/20/4xp6)

Unknown MySQL Server Host Error

Problem:
MySQL reported unknown host during connection.

Reason:
Special character @ in the password was misinterpreted in the connection string.

Solution:
URL-encoded the password or used mysql.connector directly confirming credentials.

In [11]:
import pandas as pd
from sqlalchemy import create_engine

# MySQL connection details
username = "root"
password = "11122004%40kK"   # @ replaced with %40
host = "127.0.0.1"
port = "3306"
database = "parks_and_recreation"

# Create MySQL engine
engine = create_engine(
    f"mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}"
)

# Test query (replace table name if needed)
query = "SELECT * FROM employee_demographics"

# Read data into DataFrame
df = pd.read_sql(query, engine)

# Display output
print(df)

    employee_id first_name     last_name   age  gender  birth_date
0             1     Leslie         Knope  44.0  Female  1979-09-25
1             3        Tom     Haverford  36.0    Male  1987-03-04
2             4      April       Ludgate  29.0  Female  1994-03-27
3             6      Donna        Meagle  46.0  Female  1977-07-30
4             7        Ann       Perkins  35.0  Female  1988-12-01
5             8      Chris       Traeger  43.0    Male  1980-11-11
6             9        Ben         Wyatt  38.0    Male  1985-07-26
7            10       Andy         Dwyer  34.0    Male  1989-03-25
8            11       Mark  Brendanawicz  40.0    Male  1983-06-14
9            12      Craig  Middlebrooks  37.0    Male  1986-07-27
10           13    kaushal         kumar   NaN    None        None
11           20    kaushal         kumar   NaN    None        None

In [10]:
import mysql.connector
import pandas as pd

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="11122004@kK",
    database="parks_and_recreation",
    auth_plugin="mysql_native_password"
)

df = pd.read_sql("SELECT * FROM employee_demographics", conn)
print(df)

conn.close()

    employee_id first_name     last_name   age  gender  birth_date
0             1     Leslie         Knope  44.0  Female  1979-09-25
1             3        Tom     Haverford  36.0    Male  1987-03-04
2             4      April       Ludgate  29.0  Female  1994-03-27
3             6      Donna        Meagle  46.0  Female  1977-07-30
4             7        Ann       Perkins  35.0  Female  1988-12-01
5             8      Chris       Traeger  43.0    Male  1980-11-11
6             9        Ben         Wyatt  38.0    Male  1985-07-26
7            10       Andy         Dwyer  34.0    Male  1989-03-25
8            11       Mark  Brendanawicz  40.0    Male  1983-06-14
9            12      Craig  Middlebrooks  37.0    Male  1986-07-27
10           13    kaushal         kumar   NaN    None        None
11           20    kaushal         kumar   NaN    None        None

C:\Users\kaush\AppData\Local\Temp\ipykernel_24356\3984628408.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM employee_demographics", conn)

In [9]:
# Import required libraries
import mysql.connector
import pandas as pd

# Establish connection to MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="python_user",
    password="python123",
    database="parks_and_recreation"
)

# SQL query to fetch data from a table
# Change table name if required
query = "SELECT * FROM employee_demographics"

# Read data from MySQL into a Pandas DataFrame
df = pd.read_sql(query, conn)

# Display the dataset in tabular form
print(df)

# Close the database connection
conn.close()

    employee_id first_name     last_name   age  gender  birth_date
0             1     Leslie         Knope  44.0  Female  1979-09-25
1             3        Tom     Haverford  36.0    Male  1987-03-04
2             4      April       Ludgate  29.0  Female  1994-03-27
3             6      Donna        Meagle  46.0  Female  1977-07-30
4             7        Ann       Perkins  35.0  Female  1988-12-01
5             8      Chris       Traeger  43.0    Male  1980-11-11
6             9        Ben         Wyatt  38.0    Male  1985-07-26
7            10       Andy         Dwyer  34.0    Male  1989-03-25
8            11       Mark  Brendanawicz  40.0    Male  1983-06-14
9            12      Craig  Middlebrooks  37.0    Male  1986-07-27
10           13    kaushal         kumar   NaN    None        None
11           20    kaushal         kumar   NaN    None        None

C:\Users\kaush\AppData\Local\Temp\ipykernel_24356\244125757.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)